<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki</title>
</head>
<body>
<h1>Otrzymane dane</h1>
<p><strong>Imię:</strong> <%= firstName %></p>
<p><strong>Email:</strong> <%= email %></p>
<p><strong>Data urodzenia:</strong> <%= birthDate %></p>
<p><strong>Dni do następnych urodzin:</strong> <%= daysToNextBirthday %></p>
<a href="/form">Wróć do formularza</a>
</body>
</html>
